#header-div {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    background-color: #111;
    position: relative;
    overflow: hidden;
}

#header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

body {
    margin: 0px;
    font-family: Garamond, Baskervile, Times New Roman, serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

#header-text {
    font-size: 12.5vh;
    color: #ffffff;
    z-index: 1;
}

#div-body {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#body-text-1 {
    width: 100%;
    font-size: 5.5vh;
    text-align: center;
}

#contact-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #909090;
    border-style: outset;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    font-size: 18px;
}

#contact-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-grid div {
    text-align: center;
    padding: 5px;
    border-style: inset;
    margin: 2px;
}

#contact-grid div:hover {
    border-style: outset;
    font-weight: bold;
}

a {
    text-decoration: none;
}